{% extends 'core/base.html' %}
{% block body_class %}home-page
{% endblock %}


{% block content %}

<body class="home-page"></body>
<div class="hero">
    <div class="hero-content">
        <h1>Explore Teresópolis 🌳</h1>

        <nav class="hero-nav">
            <a href="/parks-page/">Parques</a>
            <a href="/trails-page/">Trilhas</a>
            <a href="/waterfalls-page/">Cachoeiras</a>
            <a href="/biodiversity-page/">Biodiversidade</a>
            <a href="/events-page/">Eventos</a>
        </nav>
    </div>
</div>



{% endblock %}